{% extends 'admin/change_list.html' %}  
{% load i18n admin_urls static admin_list %}

{% block extrahead %}   
{{ block.super }}       
<script>
    function order_refund_submit(obj_id){
        jQuery("#changelist-form").append('<input type="hidden" name="obj_id" value="' + obj_id + '">');
        jQuery("#changelist-form").submit(); 
    }
</script>
{% endblock %}

{% block pagination %}
<p class="paginator" style="float: left; ">
    {% if pagination_required %}
    {% for i in page_range %}
        {% paginator_number cl i %}
    {% endfor %}
    {% endif %}
    {{ cl.result_count }} {% if cl.result_count == 1 %}{{ cl.opts.verbose_name }}{% else %}{{ cl.opts.verbose_name_plural }}{% endif %}
    {% if show_all_url %}<a href="{{ show_all_url }}" class="showall">{% translate 'Show all' %}</a>{% endif %}
    {% if cl.formset and cl.result_count %}<input type="submit" name="_save" class="default" value="{% translate 'Save' %}">{% endif %}
</p>
<a class="btn btn-primary " href="/admin/order/order/date_view" style="display: inline-block; margin-left: 15px;">최근 주문 보기</a>
{% endblock %}
